<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пости</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/allPosts.css">
</head>
<body>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/posts/create">Створити пост</a></li>
        <li class="nav-item"><a href="/posts/getAllPosts">Всі пости</a></li>
    </ul>
    <div class="container">
        <% for(var i=0; i<posts.length;i++) {%>
            <div class="post">
                <h2><%=posts[i].title %></h2>
                <p class="post-author">Автор: <%=posts[i].author %></p>
                <a class="button-link button-primary" href="/posts/post/<%=posts[i]._id %>">Переглянути</a>
            </div>
        <%} %>
    </div>
</body>
</html>