.form-fields {
    border-radius: 5px;
    font-weight: 700;
}

label {
    font-weight: 700;
}

#description-label{
    float: left;
    padding-right: 3px;
    padding-bottom: 3px;
}

#description {
    width:99%;
    height: 500px;
}

#author-label {
    padding-left: 19px;
}

#author{
    margin-left: 19px;
}